header {
  display: flex;
  height: 15vh;
  justify-content: center;
  /* background-color: hsl(29, 93%, 74%); */
}

.box-behind {
  background-color: hsl(344, 89%, 33%);
  display: flex;
  height: 7.54rem;
  transform: rotate(5deg);
  width: 30.7rem;
  padding: 1rem 0.5rem;
  position: absolute;
  top: 2rem;
}

h1 {
  align-self: center;
  border-radius: inherit;
  background-color: hsl(200, 18%, 20%);
  color: hsl(200, 15%, 94%);
  font-size: 3.16em;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
  padding: 0.67rem 1.4rem;
  position: relative;
  justify-self: center;
}

.hide-winner {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Animation to cause winning row to blink */
.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#result-text {
  background-color: hsl(10, 90%, 67%);
  font-size: 2.37em;
  letter-spacing: 0.2rem;
  padding: 3.2rem;
  text-align: center;
}

@media (max-width: 768px) {
  #result-text {
    margin: 0 2.4rem 2.4rem;
    padding: 1.6rem;
  }
}



.box {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: 1.4rem 0 4.8rem 0;
  justify-content: space-evenly;
}

.player-container {
  align-items: center;
  background-color: hsl(35, 80%, 70%);
  border-radius: 6rem;
  color: black;
  display: flex;
  flex-flow: column wrap;
  letter-spacing: 4px;
  justify-content: center;
  box-shadow: 0px 9px 11px 0px hsl(35, 70%, 20%);
}

h2 {
  font-size: 3.16em;
  font-weight: normal;
  padding: 4.8rem 6.4rem 1.6rem;
}

span {
  font-size: 2.37em;
  padding: 0 4.8rem 4.8rem;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2.37em;
    padding: 2.4rem 3.2rem 1.6rem;
  }

  span {
    font-size: 1.78em;
    padding: 0 2.4rem 2.4rem;
  }

  .human {
    order: 1;
  }

  .bot {
    order: 2;
  }
}

table {
  border-spacing: 3px;
  height: 36rem;
  left: 50%;
  position: absolute;
  table-layout: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 36rem;
  z-index: 1000;
}

td {
  height: 33%;
  text-align: center;
}

td>span {
  font-size: 3.16em;
  font-weight: 900;
  padding: 0;
}

.game-box {
  align-items: center;
  display: grid;
  height: auto;
  grid-template-columns: repeat(3, 12rem);
  grid-template-rows: repeat(3, 12rem);
  position: relative;
  justify-items: center;

  padding: 2rem;
  border-radius: 5rem;
  background-color: beige;
}

@media (max-width: 768px) {
  .game-box {
    background-color: inherit;
    margin-bottom: 1.4rem;
    padding: 0;
  }
}

.vert-color {
  height: 0;
  width: 1px;
  border-left: 4px solid #000;
}

.vert-line-1 {
  animation: vertical 3s;
  animation-fill-mode: forwards;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  justify-self: end;
}

.vert-line-2 {
  animation: vertical 3s;
  animation-fill-mode: forwards;
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  justify-self: start;
}

@keyframes vertical {
  100% {
    height: 350px;
  }
}

.horiz-color {
  height: 0;
  width: 1px;
  border-bottom: 4px solid #000;
}

.horiz-line-1 {
  align-self: end;
  animation: horizontal 3s;
  animation-fill-mode: forwards;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.horiz-line-2 {
  align-self: start;
  animation: horizontal 3s;
  animation-fill-mode: forwards;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

@keyframes horizontal {
  100% {
    width: 350px;
  }
}

body {
  background-color: hsl(44, 73%, 85%);
  font-family: "Varela Round", sans-serif;
  font-size: 1.6rem;
  min-height: 100%;
}

html {
  font-size: 62.5%;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}